/* General Styles */
body {
  font-family: Oxygen, sans-serif;
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.setting-container {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.setting-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.setting-options-row {
  display: flex;
  gap: 30px; /* Space between inline options */
}


.color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 10px;
}

.color-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-square {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

/* Dark Theme */
body.dark-theme {
  --color1: #ffff00; /* Yellow */
  --color2: #00ffff; /* Cyan */
  --color3: #d3d3d3; /* Light Grey */
  --color4: #00ff00; /* Green */
  --color5: #ff5cb3; /* Hot Pink */
  --color6: #ffa500; /* Orange */
  --pcolor1: #ff00ff; /* Magenta */
  --pcolor2: #32cd32; /* Lime Green */
  --pcolor3: #ffbf00; /* Amber */
  --pcolor4: #40e0d0; /* Turquoise */
  --dcolor1: #A3B7F9; /* Jordy Blue */
  --dcolor2: #C59434; /* Alpine */
  --dcolor3: #DECBE3; /* Light Purple */
  --dcolor4: #DCB69F; /* Cameo */
  --tcolor1: #ffdab9; /* Peach */
  --tcolor2: #e6e6fa; /* Lavender */
  --tcolor3: #dda0dd; /* Plum */
  --tcolor4: #7fff00; /* Chartreuse */
  --text-color: #ffffff; /* Light text for dark background */
  background-color: #2c2c2c; /* Primary dark background */
  color: var(--text-color);
}

.setting-container.dark-theme {
  background-color: #1e1e1e; /* Dark container color */
}

/* Light Theme */
body.light-theme {
  /* Light Theme - Colors that contrast well on white background */

/* Regular Colors */
--color1: #000ECC; /* Dark Blue */
--color2: #0099cc; /* Pacific Blue */
--color3: #333333; /* Dark Grey */
--color4: #006400; /* Camarone */
--color5: #b30059; /* Lipstick */
--color6: #cc7a00; /* Indochine */

/* Protanopia-Friendly Colors */
--pcolor1: #990099; /* Dark Magenta */
--pcolor2: #228b22; /* Forest Green */
--pcolor3: #ff8c00; /* Dark Amber */
--pcolor4: #20b2aa; /* Light Sea Green */

/* Deuteranopia-Friendly Colors */
--dcolor1: #4d74b2; /* Steel Blue */
--dcolor2: #b86b2e; /* Deep Orange */
--dcolor3: #6e5d91; /* Purple */
--dcolor4: #bdb09c; /* Tan */

/* Tritanopia-Friendly Colors */
--tcolor1: #f5deb3; /* Wheat */
--tcolor2: #b0c4de; /* Light Steel Blue */
--tcolor3: #dda0dd; /* Medium Purple */
--tcolor4: #32cd32; /* Lime Green */
  --text-color: #000000; /* Dark text for light background */
  background-color: #e1e1e1; /* Primary light background */
  color: var(--text-color);
}

.setting-container.light-theme {
  background-color: #eeeeee; /* Light container color */
}

/* Color Square Styles */
.color-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.color-name {
  font-size: 0.9em;
}
